
.logo{
    display: flex;
    align-items: center;
    height: 100px;
}
.logo-img {
    height: 60px;
    width: auto;
    object-fit: contain;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.navbar {
    background-image: url('https://cdn.tgdd.vn/Files/2022/11/11/1486085/kham-pha-y-nghia-mau-xanh-la-cay-trong-cuoc-song-tinh-yeu-202211110618313706.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 10px 20px;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

/*(Giỏ hàng & Tài khoản) */
.account{
    display: flex;
    gap: 15px;
    align-items: center;
}

.username{
    font-size: 14px;
    color: #333;
    font-weight: bold;
    
}

.cart-icon{
    display: flex;
    gap: 20px;
    align-items: center;
}

.log-in{
    padding: 8px 15px;
    background-color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.log-out{
    padding: 8px 15px;
    background-color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.badge {
    background-color: red;
    color: white;
    padding: 2px 8px;
    border-radius: 50%;
    margin-left: 5px;
    font-weight: bold;
}
.menu-icon{
    display: none;
}
/* mobile */
@media(max-width:768px) {
    .navbar {
        height: 70px;
        padding: 0 15px;
    }

    .menu-icon{
        display: block;
    }

    .cart-icon{
        margin-left: auto;
        margin-right: 20px;
    }
    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: antiquewhite;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        display: none;
    }
    .nav-links.active{
        display: flex;
    }

    .nav-links li{
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }
}